<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Javascript -DOM</title>
        <script src="../assets/js/14-dom.js" defer></script>
    </head>
    <body>
        <h1 id="main-title">La manipulation du DOM en Javascript</h1>
        <h2 class="title" id="title">Quelques propriétés CSS</h2>
        <h2 class="title">Pas facile le Javascript</h2>
        <div>
            <p id="first-paragraphe">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Adipisci ab excepturi sunt quibusdam repellat sit harum velit?
                Earum minima, dignissimos, iusto, porro architecto ipsam illo
                cum provident harum temporibus consectetur?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Deserunt quo sunt, perspiciatis magnam repellat, laborum quos
                expedita commodi adipisci velit libero eaque rerum nobis
                dignissimos cumque voluptatibus ab eligendi ipsam.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptas ad cupiditate sunt id, consequatur a vel necessitatibus
                dolore odio fugiat, veritatis inventore aliquam illo porro quae
                quidem quia ex dolor.
            </p>
        </div>
    </body>
</html>
